*{
    margin: 0px;
    padding: 0px;
}

#mainheader{
    height: 74px;
    width: 100vw;
    background-color: #000000;
    margin: 0px, 27.5px;
    padding: 0px, 15px;
}

.navbar{
    font-family: sans-serif;
}

#TheFalls{
    height: 40px;
    width: 118.16px;
    padding-top: 17px;
    padding-left: 397px;
}

ul{
    font-family: sans-serif;
    color:#FFFFFF;
    display: inline-block; 
    float: right;
    padding-top: 30px;
    padding-right: 400px;
    font-size: 11px;
}

li{
    display: inline-block;
    margin-right: 37px;
    font-style: bold;
}

#search{
    height: 40px;
    width: 40px;
    float: right;
}

#herosection{
    width: 100vw;
    height: 580px;
    padding-top: 200px;
  
}

#fallspic{
    height: 540px;
    width: 540px;
}