#mainheader{
    height: 74px;
    width: 100vw;
    background-color: #000000;
    margin: 0px, 27.5px;
    padding: 0px, 15px;
}

.navbar{
    font-family: sans-serif;
}

#TheFalls{
    height: 40px;
    width: 118.16px;
    padding-top: 17px;
    padding-left: 110px;
}
